<!DOCTYPE html>
<html>
<head>
    <title>Driving Test Questions - List</title>
</head>
<body>
<h1>Driving Test Questions - List</h1>
<ul>
    <% questions.forEach(function (question, index) { %>
        <li>
            <a href="/questions/<%= index + 1+1346 %>">Question set <%= index + 1346 %></a>
        </li>
    <% }); %>
</ul>
</body>
</html>
